<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Estoque</title>
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
  </head>
  <body>
    <h2 style="text-align: center">Veículos em Estoque</h2>
    <table border="1px">
      <tr>
        <td style="text-align: center; width: 225px;">
          <strong>Veículo</strong>
        </td>
        <td style="text-align: center; width: 225px;">
          <strong>Ano</strong>
        </td>
        <td style="text-align: center; width: 225px;">
          <strong>Valor</strong>
        </td>
      </tr>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td style="text-align: center; width: 225px;">
            <%= vehicle.title %>
          </td>
          <td style="text-align: center; width: 225px;">
            <%= vehicle.year %>
          </td>
          <td style="text-align: center; width: 225px;">
            <%= vehicle.value %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3" style="text-align: right;">
          Total de veículos: <%= @total_vehicles %>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align: right;">
          Patrimônio: R$ <%= @total_patrimonio %>
        </td>
      </tr>
    </table>
  </body>
</html>
